:root {
  --md-primary-fg-color:        #06070d;
  --md-primary-fg-color--light: #00e59b;
  --md-primary-fg-color--dark:  #161a1f;

  --md-accent-fg-color:         #00e59b;
}

a {
  text-decoration: underline;
}
