[flake8]
max-line-complexity = 20
max-module-members = 20
per-file-ignores =
    test/*: S101
ignore =
    # Ignore all 'flake8-bugbear' errors which are related to Python 2 
    B301
    B302
    B303
    B304
    B305
    B306
    # Ignore 'Found `noqa` comments overuse'
    WPS402
