[flake8]
max-line-complexity = 20
max-module-members = 20
per-file-ignores =
    test/*: S101
    daeclipse/models/*: WPS230
    **/__init__.py: F401, WPS300
    daeclipse/api.py: WPS226, WPS214, WPS204
ignore =
    # Ignore all 'flake8-bugbear' errors related to Python 2
    B301
    B302
    B303
    B304
    B305
    B306
    # Ignore 'Found `noqa` comments overuse'
    WPS402
    # Ignore 'Found `__init__.py` module with logic'
    WPS412
exclude =
    .git,
    .github,
    __pycache__,
    docs,
    node_modules,
    spec
