openapi: 3.0.0
info:
  version: 1.0.0
  title: DeviantArt Eclipse
  description: Unofficial documentation for the internal DeviantArt Eclipse API
  license:
    name: MIT
servers:
  - url: 'https://www.deviantart.com/_napi/shared_api'
paths:
  /deviation/extended_fetch:
    get:
      summary: Get extended information for a Deviation.
      operationId: getExtendedDeviationByID
      description: Extended information for a specific Deviation.
      tags:
        - deviations
      parameters:
        - name: deviationid
          in: query
          required: true
          type: number
        - name: username
          in: query
          required: true
          type: string
        - name: type
          in: query
          required: true
          type: string
          enum:
            - art
        - name: include_session
          in: query
          required: true
          type: boolean
      responses:
        '200':
          description: Successfully fetched extended deviation information.
          content:
            application/json:
              schema:
                type: object
                required:
                  - deviation
                  - viewMode
                  - comments
                properties:
                  deviation:
                    $ref: '#/components/schemas/EclipseDeviation'
                  viewMode:
                    type: string
                    example: regular
                  comments:
                    $ref: '#/components/schemas/EclipseCommentsList'
        default:
          $ref: '#/components/responses/UnexpectedError'
components:
  parameters:
    petId:
      name: petId
      in: path
      required: true
      description: The id of the pet to retrieve
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: How many items to return at one time (max 100)
      required: false
      schema:
        type: integer
        format: int32
  schemas:
    EclipseCollection:
      type: object
      required:
        - collection
        - deviations
        - groups
      properties:
        collection:
          type: array
          items:
            $ref: '#/components/schemas/EclipseCollectionInfo'
        deviations:
          type: array
          items:
            $ref: '#/components/schemas/EclipseDeviation'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/EclipseGruser'
    EclipseCollectionInfo:
      type: object
      required:
        - folderId
        - gallectionUuid
        - parentId
        - type
        - name
        - description
        - owner
        - commentCount
        - size
        - thumb
      properties:
        folderId:
          type: integer
          example: 23456789
        gallectionUuid:
          type: string
          format: uuid
          example: 15A01024-5565-4736-AB66-E3E5DB890868
        parentId:
          type:
            - integer
            - 'null'
          example: 34567890
        type:
          type: string
          example: collection
        name:
          type: string
          example: Example collection name"
        description:
          type: string
          example: ''
        owner:
          $ref: '#/components/schemas/EclipseGruser'
        commentCount:
          type: integer
          example: 0
        size:
          type: integer
          example: 227
        thumb:
          anyOf:
            - 'null'
            - $ref: '#/components/schemas/EclipseDeviation'
    EclipseComment:
      type: object
      required:
        - commentId
        - typeId
        - itemId
        - parentId
        - posted
        - edited
        - replies
        - isOwner
        - isViolation
        - isAdminHidden
        - isHidden
        - isLocked
        - isSpam
        - isPrivate
        - isAnnotation
        - isDeleted
        - isPeekable
        - isAuthor
        - isAuthorHighlighted
        - isAdminMode
        - isFeatured
        - isReportable
        - isLiked
        - likes
        - hidden
        - textContent
        - signature
        - authorInfo
        - user
        - legacyTextEditUrl
      properties:
        commentId:
          type: integer
          example: 1234567890
        typeId:
          type: integer
          example: 1
        itemId:
          type: integer
          example: 12345678
        parentId:
          type:
            - integer
            - 'null'
          example: 12345678
        posted:
          type: string
          format: date-time
          example: '2021-05-18T12:23:01-0700'
        edited:
          type:
            - string
            - 'null'
          format: date-time
          example: '2021-05-18T12:23:01-0700'
        replies:
          type: integer
          example: 0
        isOwner:
          type: boolean
          example: false
        isViolation:
          type: boolean
          example: false
        isAdminHidden:
          type: boolean
          example: false
        isHidden:
          type: boolean
          example: false
        isLocked:
          type: boolean
          example: false
        isSpam:
          type: boolean
          example: false
        isPrivate:
          type: boolean
          example: false
        isAnnotation:
          type: boolean
          example: false
        isDeleted:
          type: boolean
          example: false
        isPeekable:
          type: boolean
          example: false
        isAuthor:
          type: boolean
          example: false
        isAuthorHighlighted:
          type: boolean
          example: false
        isAdminMode:
          type: boolean
          example: false
        isFeatured:
          type: boolean
          example: false
        isReportable:
          type: boolean
          example: false
        isLiked:
          type: boolean
          example: false
        likes:
          type: integer
          example: 0
        hidden:
          type: 'null'
        textContent:
          $ref: '#/components/schemas/EclipseCommentContent'
        signature:
          type: 'null'
        authorInfo:
          type:
            - string
            - 'null'
          example: Hobbyist Traditional Artist
        user:
          $ref: '#/components/schemas/EclipseGruser'
        legacyTextEditUrl:
          type: 'null'
    EclipseCommentContent:
      type: object
      required:
        - excerpt
        - html
      properties:
        excerpt:
          type: integer
          example: |
            Great...:) http://itscash.cf/
        html:
          type: object
          properties:
            type:
              type: string
              example: draft
            markup:
              type: string
              example: '{"blocks":[{"key":"foo","text":"Great...:) http://itscash.cf/\n","type":"unstyled","depth":0,"inlineStyleRanges":[],"entityRanges":[{"offset":8,"length":3,"key":0},{"offset":11,"length":18,"key":1}],"data":{}}],"entityMap":{"0":{"type":"DA_OFF_EMOTE","mutability":"IMMUTABLE","data":{"emote":":) "}},"1":{"type":"LINK","mutability":"MUTABLE","data":{"url":"http://itscash.cf/"}}}}'
            features:
              type: string
              example: '[{"type":"FIRST_IMAGE_FEATURE","data":[]},{"type":"IS_EMPTY_FEATURE","data":{"isEmpty":false}},{"type":"MEDIA_COUNT_FEATURE","data":{"emoji":0,"emotes":1,"images":0,"mentions":0,"video":0,"previews":0}},{"type":"WORD_COUNT_FEATURE","data":{"words":4,"chars":28}}]'
    EclipseCommentsList:
      type: object
      required:
        - hasMore
        - hasLess
        - nextOffset
        - cursor
        - prevCursor
        - total
        - canPostComment
        - commentableTypeid
        - commentableItemid
        - thread
      properties:
        hasMore:
          type: boolean
          example: false
        hasLess:
          type: boolean
          example: false
        nextOffset:
          type:
            - integer
            - 'null'
          example: 24
        cursor:
          type:
            - string
            - 'null'
          example: 4913988710+
        prevCursor:
          type:
            - string
            - 'null'
          example: 4913988710+
        total:
          type: integer
          example: T57
        canPostComment:
          type: boolean
          example: true
        commentableTypeid:
          type: integer
          example: 1
        commentableItemid:
          type: integer
          example: 123456789
        thread:
          type: array
          items:
            $ref: '#/components/schemas/EclipseComment'
    EclipseDeviation:
      type: object
      required:
        - deviationId
        - type
        - typeId
        - printId
        - url
        - title
        - isJournal
        - isVideo
        - isPurchasable
        - isFavouritable
        - publishedTime
        - isTextEditable
        - legacyTextEditUrl
        - isShareable
        - isCommentable
        - isFavourited
        - isDeleted
        - isMature
        - isDownloadable
        - isAntisocial
        - isBlocked
        - isPublished
        - isDailyDeviation
        - hasPrivateComments
        - blockReasons
        - author
        - stats
        - media
      properties:
        deviationId:
          type: integer
          example: 112233445
        type:
          type: string
          example: image
        typeId:
          type: integer
          example: 1
        printId:
          type:
            - integer
            - 'null'
          example: 2
        url:
          type: string
          example: 'https://www.deviantart.com/exampleusername/art/Example-Title-112233445'
        title:
          type: string
          example: Example Title
        isJournal:
          type: boolean
          example: false
        isVideo:
          type: boolean
          example: false
        isPurchasable:
          type: boolean
          example: false
        isFavouritable:
          type: boolean
          example: false
        publishedTime:
          type: string
          format: date-time
          example: '2021-05-18T12:23:01-0700'
        isTextEditable:
          type: boolean
          example: false
        legacyTextEditUrl:
          type:
            - string
            - 'null'
          example: unknown
        isShareable:
          type: boolean
          example: false
        isCommentable:
          type: boolean
          example: false
        isFavourited:
          type: boolean
          example: false
        isDeleted:
          type: boolean
          example: false
        isMature:
          type: boolean
          example: false
        isDownloadable:
          type: boolean
          example: false
        isAntisocial:
          type: boolean
          example: false
        isBlocked:
          type: boolean
          example: false
        isPublished:
          type: boolean
          example: false
        isDailyDeviation:
          type: boolean
          example: false
        hasPrivateComments:
          type: boolean
          example: false
        blockReasons:
          type: array
          example: []
        author:
          $ref: '#/components/schemas/EclipseGruser'
        stats:
          $ref: '#/components/schemas/EclipseStats'
        media:
          $ref: '#/components/schemas/EclipseDeviationMedia'
        extended:
          $ref: '#/components/schemas/EclipseDeviationExtendedContent'
    EclipseDeviationAwardedBadge:
      type: object
      required:
        - id
        - typeId
        - name
        - title
        - baseTitle
        - description
        - stackCount
        - images
      properties:
        id:
          type: null
          example: 123456789
        typeId:
          type: null
          example: 65
        name:
          type: null
          example: diamond
        title:
          type: null
          example: Diamond
        baseTitle:
          type: null
          example: Diamond
        description:
          type: null
          example: It's the highest of honors to be awarded an exclusive Diamond badge!
        stackCount:
          type: null
          example: 1
        images:
          type: array
          items:
            type: object
            properties:
              imageUrl:
                type: string
                example: 'https://st.deviantart.net/badges/diamond.svg?2'
              className:
                type: string
                example: ''
    EclipseDeviationExtendedContent:
      type: object
      required:
        - deviationUuid
        - canUserAddToGroup
        - groupListUrl
        - description
        - originalFile
        - license
        - download
        - relatedStreams
        - stats
        - reportUrl
        - awardedBadges
      properties:
        deviationUuid:
          type: string
          format: uuid
          example: 656CC452-3566-455C-88FA-72E2CEF38EA2
        canUserAddToGroup:
          type: boolean
          example: true
        groupListUrl:
          type: string
          example: 'https://www.deviantart.com/deviation/112233445/groups'
        description:
          type: string
          example: <div><p>Example description</p></div>
        originalFile:
          $ref: '#/components/schemas/EclipseDeviationFileSpecs'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/EclipseDeviationTag'
        subjectTags:
          type: array
          items:
            $ref: '#/components/schemas/EclipseDeviationTag'
        typeFacet:
          $ref: '#/components/schemas/EclipseDeviationTypeFacet'
        license:
          type: string
          enum:
            - none
            - by-nc-nd
        download:
          $ref: '#/components/schemas/EclipseDeviationFileSpecs'
        relatedStreams:
          $ref: '#/components/schemas/EclipseDeviationRelatedStreams'
        stats:
          $ref: '#/components/schemas/EclipseDeviationExtendedStats'
        reportUrl:
          type: TBD
          example: 'https://www.deviantart.com/deviation/report/112233445?is_modal=true'
        awardedBadges:
          type: array
          items:
            $ref: '#/components/schemas/EclipseDeviationAwardedBadge'
    EclipseDeviationExtendedStats:
      type: object
      required:
        - views
        - today
        - shares
        - downloads
        - groups
      properties:
        views:
          type: integer
          example: 175039
        today:
          type: integer
          example: 1
        shares:
          type: integer
          example: 0
        downloads:
          type: integer
          example: 183
        groups:
          type: integer
          example: 0
    EclipseDeviationFileSpecs:
      type: object
      required:
        - comments
        - favourites
      properties:
        url:
          type: string
          example: 'https://www.deviantart.com/download/886561941/denu3kl-280bcd78-b8fc-4c60-911a-1ca732a2b7a9.jpg?token=feb6d33bc5adba90f6392cc85c64598f52fbb648&ts=1627488080'
        type:
          type: string
          enum:
            - original
        width:
          type: integer
          example: 2480
        height:
          type: integer
          example: 2480
        filesize:
          type: integer
          example: 123456789
    EclipseDeviationMedia:
      type: object
      required:
        - baseUri
        - prettyName
        - token
        - types
      properties:
        baseUri:
          type: string
          example: 'https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/49402c4d-1fe3-4f6d-8144-2f58aee8d82d/denu3kl-280bcd78-b8fc-4c60-911a-1ca732a2b7a9.jpg'
        prettyName:
          type: string
          example: example_title_by_exampleusername_denu3kl
        token:
          type: array
          items:
            type: string
          example:
            - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiO
        types:
          type: array
          items:
            type: object
            properties:
              t:
                type: string
                example: '150'
              r:
                type: integer
                example: 0
              c:
                type: string
                example: 'v1/fit/w_150,h_150,q_70,strp/<prettyName>-150.jpg'
              h:
                type: integer
                example: 0
              w:
                type: integer
                example: 0
    EclipseDeviationRelatedStreams:
      type: object
      required:
        - gallery
        - recommended
        - collections
      properties:
        gallery:
          type: array
          items:
            $ref: '#/components/schemas/EclipseDeviation'
        recommended:
          type: array
          items:
            $ref: '#/components/schemas/EclipseDeviation'
        collections:
          type: array
          items:
            $ref: '#/components/schemas/EclipseCollection'
    EclipseDeviationTag:
      type: object
      required:
        - name
        - url
      properties:
        name:
          type: string
          example: exampletag
        url:
          type: string
          example: 'https://www.deviantart.com/tag/exampletag'
    EclipseDeviationTypeFacet:
      type: object
      required:
        - linkTo
        - urlFragment
        - displayNameEn
      properties:
        linkTo:
          type: string
          example: 'https://www.deviantart.com/deviations/visual-art/'
        urlFragment:
          type: string
          example: visual-art
        displayNameEn:
          type: string
          example: Visual Art
    EclipseGruser:
      type: object
      required:
        - userId
        - useridUuid
        - username
        - usericon
        - type
        - isWatching
        - isNewDeviant
      properties:
        userId:
          type: integer
          example: 12345678
        useridUuid:
          type: string
          format: uuid
          example: aac62b19-76e2-4af0-a943-13d9a1dc2092s
        username:
          type: string
          maxLength: 20
          example: ExampleUsername
        usericon:
          example: 'https://a.deviantart.net/avatars-big/m/o/exampleusername.jpg?4'
        type:
          type: string
          example: regular
        isWatching:
          type: boolean
          example: false
        isNewDeviant:
          type: boolean
          example: true
    EclipseStats:
      type: object
      required:
        - comments
        - favourites
      properties:
        comments:
          type: integer
          example: 18
        favourites:
          type: integer
          example: 2063
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                type: integer
                format: int32
              message:
                type: string
    NullResponse:
      description: Null response
