openapi: "3.0.0"
info:
  version: 0.1.0
  title: DeviantArt Eclipse
  description: Unofficial OpenAPI Specification for the DeviantArt Eclipse API.
  license:
    name: MIT
  contact:
    name: Kathryn DiPippo (for spec updates, not API feature updates)
    url: https://kathryndipippo.com
    email: dipippo.k@gmail.com
servers:
  - url: https://www.deviantart.com/_napi
tags:
- name: Comments
  description: Operations relating to comments.
- name: Deviations
  description: Operations relating to artwork posts, Deviations.
- name: Groups
  description: Operations relating to DeviantArt Groups.
- name: Journals
  description: Operations relating to blog posts, Journals.
- name: Statuses
  description: Operations relating to tweet-like posts, Statuses.
paths:
  /da-user-profile/api/init/about:
    $ref: "./resources/profile/init/about.yaml"
  /da-user-profile/api/module/my_comments:
    $ref: "./resources/profile/module/my_comments.yaml"
  /shared_api/deviation/extended_fetch:
    $ref: "./resources/deviation/extended_fetch.yaml"
  /shared_api/deviation/delete:
    $ref: "./resources/deviation/delete.yaml"
  /shared_api/journal/create:
    $ref: "./resources/journal/create.yaml"
  /shared_api/journal/update/content:
    $ref: "./resources/journal/update/content.yaml"
  /shared_api/journal/publish:
    $ref: "./resources/journal/publish.yaml"
  /shared_api/deviation/groups:
    $ref: "./resources/deviation/groups.yaml"
  /shared_api/deviation/group_folders:
    $ref: "./resources/deviation/group_folders.yaml"
  /shared_api/deviation/group_add:
    $ref: "./resources/deviation/group_add.yaml"
  /shared_api/status/create:
    $ref: "./resources/status/create.yaml"
  /shared_api/status/publish:
    $ref: "./resources/status/publish.yaml"
  /shared_api/status/delete:
    $ref: "./resources/status/delete.yaml"
components:
  parameters:
    $ref: "./parameters/_index.yaml"
  schemas:
    $ref: "./schemas/_index.yaml"
